<h1>Shape generator from natural language</h1>
<p>Click on the menu 'Shape Generator' for the demo</p>
<p>Expected input format: Draw a(n) &lt;shape&gt; with a(n) &lt;measurement&gt; of &lt;amount&gt; (and a(n) &lt;measurement&gt; of &lt;amount&gt;)</p>
<p>Example imputs:</p>

<ul>
  <li>Draw a circle with a radius of 100</li>
  <li>
    Draw a square with a side length of 200
  </li>
  <li>
    Draw a rectangle with a width of 250 and a height of 400
  </li>
  <li>
    Draw an octagon with a side length of 200
  </li>
  <li>
    Draw an isosceles triangle with a height of 200 and a width of 100
  </li>
</ul>
